@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;800&family=Outfit:wght@500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  min-width: 100%;
  overflow-x: hidden;
  height: -webkit-fill-available;
}

body {
  min-height: -webkit-fill-available;
  min-height: 100vh;
  background: url("../assets/img/hero/hero_background.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: "Montserrat", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}

header {
  height: 10vh;
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

header nav {
  width: 90%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav .logo-side {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

header nav .logo-side img {
  width: 25rem;
}

header nav .info-side {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  font-size: 16px;
  font-weight: bold;
  font-family: 'Outfit', sans-serif;
  color: #575757;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

header nav a:hover {
  color: #4a8600;
}

header nav .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

header nav .box img {
  width: 2rem;
}

#hero {
  width: 90%;
  margin: auto;
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hero .left-side {
  width: 50%;
  margin-top: 15rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hero .left-side h1 {
  font-size: 80px;
  color: #4a8600;
}

#hero .left-side h3 {
  font-family: 'Outfit', sans-serif;
  font-size: 30px;
  font-weight: normal;
}

#hero .left-side span {
  font-size: 24px;
  font-family: 'Outfit', sans-serif;
  color: #575757;
}

#hero .right-side {
  width: 50%;
  padding-top: 2rem;
}

#hero .right-side .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#hero .right-side .container img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#hero .right-side .container .flex-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 2rem 0;
}

#hero .right-side .container .img1 {
  width: 25rem;
  height: 25rem;
  margin-right: 2rem;
  border-bottom-left-radius: 70%;
  border-bottom-right-radius: 20%;
  border-top-left-radius: 20%;
  border-top-right-radius: 20%;
}

#hero .right-side .container .flex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#hero .right-side .container .rectangle-icon, #hero .right-side .container .elipse-icon {
  width: 4rem;
  height: 4rem;
}

#hero .right-side .container .rectangle-icon {
  -webkit-transform: translate(-2rem, 17rem);
          transform: translate(-2rem, 17rem);
}

#hero .right-side .container .elipse-icon {
  -webkit-transform: translate(3.7rem, -8rem);
          transform: translate(3.7rem, -8rem);
}

#hero .right-side .container .img2, #hero .right-side .container .img3 {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width: 18rem;
  height: 18rem;
}

#hero .right-side .container .img3 {
  margin-right: 2rem;
}

#hero .right-side .container .img4 {
  border-radius: 40%;
  width: 18rem;
  height: 30rem;
  -webkit-transform: translate(50px, -55px);
          transform: translate(50px, -55px);
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

#hero .right-side .container .img5 {
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  -webkit-transform: translate(-20rem, -8rem);
          transform: translate(-20rem, -8rem);
}

#hero .right-side .container .img6 {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  position: absolute;
  right: 0;
  -webkit-transform: translateY(-15px);
          transform: translateY(-15px);
  width: 25rem;
  height: 150px;
}

#artist-carousel {
  width: 90%;
  margin: auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#artist-carousel .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80vw;
  height: 70vh;
  background-color: #dffaec;
  border-radius: 10rem;
  margin: 10rem 0 0 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#artist-carousel .box-container .text-container {
  text-align: center;
}

#artist-carousel .box-container .text-container h1 {
  font-size: 80px;
  color: #4a8600;
}

#artist-carousel .box-container .text-container span {
  font-size: 24px;
  font-family: 'Outfit', sans-serif;
  color: #575757;
}

#artist-carousel .box-container .swiper {
  height: 26rem;
  padding: 1rem;
  width: 80%;
}

#artist-carousel .box-container .swiper-slide {
  border-radius: 5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#artist-carousel .box-container .swiper-wrapper img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5rem;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#artist-description-carousel {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 4px;
}

#artist-description-carousel .wrapper {
  height: 80vh;
  width: 90%;
  margin: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#artist-description-carousel .wrapper .text-container {
  text-align: center;
}

#artist-description-carousel .wrapper .text-container h1 {
  font-size: 80px;
  color: #4a8600;
}

#artist-description-carousel .wrapper .text-container span {
  font-size: 24px;
  font-family: 'Outfit', sans-serif;
  color: #575757;
}

#artist-description-carousel .wrapper .swiper {
  height: 45rem;
}

#artist-description-carousel .wrapper .swiper-slide {
  width: 90%;
  margin: auto;
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: inherit;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

#artist-description-carousel .wrapper .swiper-slide img {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-top-left-radius: 50%;
  width: 33rem;
  height: 33rem;
  -o-object-fit: cover;
     object-fit: cover;
}

#artist-description-carousel .wrapper .swiper-slide .content {
  text-align: start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

#artist-description-carousel .wrapper .swiper-slide .content h3 {
  font-size: 32px;
  color: #575757;
}

#artist-description-carousel .wrapper .swiper-slide .content h5 {
  color: #4a8600;
  margin: 0 0 2rem 0;
  font-size: 24px;
}

#artist-description-carousel .wrapper .swiper-slide .content p {
  font-size: 22px;
  color: black;
  font-family: 'Outfit';
  line-height: 1.5;
}

#more-artist {
  background: gray;
  background: url("../assets/img/hero/hero_background.png");
  background-repeat: repeat-y;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

#more-artist .content {
  width: 90%;
  margin: auto;
}

#more-artist .content .left-side {
  width: 50%;
  margin-top: 15rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#more-artist .content .left-side h1 {
  font-size: 80px;
  color: #4a8600;
}

#more-artist .content .left-side h3 {
  font-family: 'Outfit', sans-serif;
  font-size: 24px;
  font-weight: normal;
}

#more-artist .content .left-side span {
  font-size: 16px;
  font-family: 'Outfit', sans-serif;
  color: #575757;
}

#more-artist .content .right-side {
  width: 50%;
  padding-top: 2rem;
}

#more-artist .content .right-side .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#more-artist .content .right-side .container img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#more-artist .content .right-side .container .flex-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 0 2rem 0;
}

#more-artist .content .right-side .container .img1 {
  width: 22rem;
  height: 22rem;
  margin-right: 2rem;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 30%;
  border-top-left-radius: 33%;
  border-top-right-radius: 115%;
  -webkit-transform: translateX(-17rem);
  transform: translateX(-22rem);
}

#more-artist .content .right-side .container .flex-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#more-artist .content .right-side .container .rectangle-icon {
  width: 4rem;
  height: 4rem;
}

#more-artist .content .right-side .container .rectangle-icon {
  -webkit-transform: translate(32rem, 29rem);
          transform: translate(32rem, 29rem);
}

#more-artist .content .right-side .container .elipse-icon {
  -webkit-transform: translateY(-6rem);
          transform: translateY(-6rem);
}

#more-artist .content .right-side .container .img2 {
  border-bottom-left-radius: 40%;
  border-bottom-right-radius: 40%;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  width: 18rem;
  height: 26rem;
  -webkit-transform: translateX(-14rem);
  /* transform: translateX(-14rem); */
  transform: translate(-20rem, 1rem);
}

#more-artist .content .right-side .container .img3 {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 0;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  width: 18rem;
  height: 18rem;
  margin-right: 15rem;
  -webkit-transform: translate(-8rem, -3rem);
          transform: translate(-8rem, -3rem);
}

#more-artist .content .right-side .container .img4 {
  border-radius: 50%;
  width: 25rem;
  height: 25rem;
  -webkit-transform: translate(-9rem, 1rem);
  transform: translate(-19rem, 1rem);
}

#more-artist .content .right-side .container .img5 {
  border-radius: 50% 50% 50% 0%;
  /* border-top-right-radius: 50%; */
  width: 16rem;
  height: 16rem;
  -webkit-transform: translate(-20rem, -8rem);
  transform: translate(-35rem, 2rem);
}

#more-artist .content .right-side .container .img6 {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  position: absolute;
  left: 0;
  -webkit-transform: translateY(-15px);
  transform: translateY(-58px);
  width: 25rem;
  height: 150px;
}

#footer {
  height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#footer h4 {
  text-align: center;
  font-size: 16px;
  color: #575757;
}

#footer .icons-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

#footer .icon-eby-footer {
  width: 25rem;
}

#footer .integrantes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #575757;
  font-size: 16px;
  font-family: 'Outfit';
  font-weight: bolder;
}

#footer .programadores {
  text-align: center;
}

#footer span {
  color: #575757;
  font-size: 16px;
  font-family: 'Outfit';
}
/*# sourceMappingURL=main.css.map */